@use 'br';

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56rem;
  padding: 1em 0;
}

.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 150px auto 150px;

  header,
  footer {
    grid-column: 1 / 4;
  }

  aside,
  article {
    @include br.small {
      grid-column: 1 / 4;
    }
  }

  header,
  aside,
  article,
  footer {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    height: 25vh;
  }
}
